html{font-size: 16px;}
body{background: #98e5ea;font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;font-weight: normal;
font-style: normal;
line-height: 1.5;
position: relative;
cursor: auto;
height: auto;}
.panel {margin: 0px 95px 2px 95px; background: radial-gradient(ellipse at center, #f4efe8 0%, #ebe5dd 100%);}
.panel-body{position: relative; border-bottom: gray solid 1px; border-left: gray solid 1px; border-right: gray solid 1px;}
#panel2, #panel3{border-top: gray solid 1px;}
#h1Login{ display: none;}
.logoLeft{height: 90px; overflow: visible;}
.logoLeft img{width: 183px; height: 82px;}
.tie {position: absolute;
		width: 13px;
		height: 35px;
		display: block;
		z-index: 10;
		-webkit-transition: all 0.2s ease-out;
		-moz-transition: all 0.2s ease-out;
		-ms-transition: all 0.2s ease-out;
		transition: all 0.2s ease-out;
		background: transparent url(../img/rings.png) no-repeat 0 0;
	}
.tie.tie-bl
{	bottom: -20px;
	left: 10px;
}
.tie.tie-br
{
	bottom: -20px;
	right: 10px;
}
.clearfix:after{clear: both;}
.clearfix:before, .clearfix:after{display: table; content: " ";-webkit-box-sizing: border-box;
									-moz-box-sizing: border-box;
									box-sizing: border-box;
									}
.clearfix:before{}

#panel2{ color: gray; }
#panel3{margin-left: 20px; width: 340px;}
#panel2Hdr, #panel2Ftr{margin-left: 20px;}
#lobTitle{ color: #66abf4; }

#username, #password{margin-bottom: 10px;width: 300px;padding-bottom: .25rem;padding-top: .25rem;}
#submitLogin{padding-left: 15px; padding-right: 15px;}
#forgotSpan{font-size: .75rem; margin-left: 50px;}
#forgotUsername, #forgotPassword{color: grey; text-decoration: underline; }

footer{background: transparent url(../img/footer-bg-top.png) repeat-x center top; padding-top: 5px;  margin-top: 25px; font-size: 16px;}
footer nav{margin-top: 3em;
text-align: center; }
footer nav ul{list-style-type: none;
				list-style-position: outside;
				padding: 0;
				margin: 0;
				font-size: 1.5rem;
				line-height: 1.6rem;
				}
footer nav ul li.first{border-left: none;
						padding-left: 0;
						margin-left: 0;}
footer nav ul li{border-left: 1px solid white;
					padding-left: 10px;
					margin-left: 5px;
					display: inline;
					font-size: 0.75rem;}
footer nav ul li a{color: white;
					text-decoration: none;
					font-size: 0.75rem;}

#footerNav{padding-left: 0.125rem;
				padding-right: 0.125rem; width: 100%; position: relative; margin-top: 3em;
				text-align: center;
				}
#copyright{text-align: center;}
#footerTopSection{background: #3d4a61 url(../img/footer-bg.gif) repeat 0 0;
					padding-top: 2em;
					padding-bottom: 1rem;
					color: #d6e9e8;}
#footerBottomSection{background: #1a212a url(../img/footer-bg-bottom.png) repeat-x 0 0;
					padding-top: 1.5em;
					padding-bottom: 1.5em;
					color: #4771a4;
					font-size: 0.75rem;}